@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

/* @font-face {
  font-family: "Robot";
  src: url("/fonts/robot-regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
} */
/* Import Nunito font with multiple weights */
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700&display=swap");

/* @font-face {
  font-family: "Robot";
  src: url("/fonts/robot-bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
} */

body {
  /* font-family: "Robot", sans-serif; */
  font-family: "Nunito", sans-serif;
  color: black;
}

/* Apply Nunito font to specific elements (e.g., headings) */
h1,
h2,
h3 {
  font-family: "Nunito", sans-serif;
}
