@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';


@font-face {
  font-family: 'Robot';
  src: url('/fonts/robot-regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Robot';
  src: url('/fonts/robot-bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

body {
  font-family: 'Robot', sans-serif;
}

/* @layer base{
  body {
      @apply dark:bg-gray-800 bg-white
  }
} */

.nav-link {
  color: #ffffff;
  transition: color 0.3s ease;
}

.nav-link:hover {
  color: #f6ad55;
}

.section {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  scroll-margin-top: 80px; /* Adjust this value to offset the fixed navigation height */
}